#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#delete_user_button {
    width: auto;
    background-color: lightcoral;
}

#change_user_password_button {
    width: auto;
}

#edit_user_form {
    width: 50%;
    max-width: 500px;
}

#edit_user_profile_picture {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#profile_picture_preview {
    height: 50px;
    width: 50px;
    padding: 2px;
    border: 2px #fff solid;
    border-radius: 100px;
    margin-right: 10px;
}

#new_profile_picture_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    margin-left: 10px;
    height: 40px;
    padding: 0px 15px;
    font-size: 15px;
}

#edit_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    min-width: 200px;
}

#edit_user_title {
    color: #fff;
    font-weight: 500;
    font-size: 35px;
    margin: 60px 0px;
}


#change_password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#change_password_title {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    margin: 60px 0px;
}

#change_password_form {
    width: 15%;
    min-width: 200px;
}

#delete_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#delete_user_title {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    margin: 60px 0px;

}

#delete_user_form {
    width: 25%;
    min-width: 200px;
}

#edit_user_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.edit_user_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}