{% extends "main.html" %}
{% load static %}
{% block extra_stylesheets %}
<link rel="stylesheet" href="{% static 'styles/core/edit_user.css' %}">
{% endblock extra_stylesheets %}
{% block content %}

<div id="main">
    {% if delete_user_page %}
    <div id="delete_user">
        <div id="delete_user_title"><p>Are you sure you want to delete your account?</p></div>
        <form id="delete_user_form" class="form_form" action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form_field">{{field}}</div>
            {% endfor %}
            <input class="form_submit" type="submit" value="Delete Account">
        </form>
    </div>
    {% else %}
    <div id="edit_user">
        <div id="edit_user_title"><p>Edit Account</p></div>
        <div id="api_keys">
            <div id="new_api_key">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="submit" name="new_api_key" value="Generate New API Key">
                </form>
            </div>
            <div id="old_api_keys">
                {% for key in api_keys %}
                <div class="api_key">
                    <div class="api_key_title"><p>API Key: {{key.api_key}}</p></div>
                    <div class="api_key_delete">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="api_key_id" value="{{key.id}}">
                            <input type="submit" name="delete_api_key" value="Delete">
                        </form>
                    </div>
                </div>
                {% endfor %}
        </div>
        <div id="edit_user_buttons">
            <div class="edit_user_button">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input id="delete_user_button" type="submit" name="delete_user" value="Delete Account">
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>



{% endblock content %}